body {
  background-image: url("const/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.city-select {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}
